* {
    font-family: "Baskerville Old Face", serif;
    margin: 0;
}

body {
    background: linear-gradient(to bottom, #3E3232, #503C3C, #7E6363, #A87C7C);
    overflow: hidden;
    background-repeat: no-repeat;
    height: 100vh;
}

nav {
    background: #644d4d;
    height: 5em;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.5);
    align-items: center;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

nav > .icon-title {
    z-index: 2;
    display: flex;
    align-items: center;
    margin-left: 1.5em;
}

/* nav > .icon-title > img {
    height: 4.3em;
    width: 4.3em;
} */

nav > .box-button {
    display: flex;
}

nav > .icon-title > h1 > a {
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
    align-content: center;
    margin-left: .7em;
}

.pindutan > .pindutanTalaga {
    background-color: #7E99A3;
    border: 1px #7E99A3;
    cursor: pointer;
    border-radius: 20px;
}

.pindutan > .pindutanTalaga:hover {
    background-color: #4C585B;
}

.searchBar > #search-input {
    background-color: #F8FAFC;
    border: 1px #F8FAFC;
}

.searchBar > #search-input:hover {
    background-color: #cfd2d3;
}

.listDiv {
    overflow-y: scroll;
    height: 70vh;
    margin-top: 2em;
    margin-inline: 1em;
}

.listDiv::-webkit-scrollbar {
    width: .6em;
    background: linear-gradient(to top, #3E3232, #503C3C, #7E6363, #A87C7C);
    border-radius: 5px;
}

.listDiv::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
    height: 2em;
}

.listDiv > .tableSaIndex {
    width: 100%;
    opacity: 75%;
}

.listDiv > .tableSaIndex > thead {
    background-color: #9AA6B2; 
    color: #ffffff;
    top: 0;
    position: sticky;
}

.listDiv > .tableSaIndex > thead > tr > .sortable {
    cursor: pointer;
    position: relative;
}

.listDiv > .tableSaIndex > thead > tr > .sortable:hover {
    background-color: #747d86; 
}

.listDiv > .tableSaIndex > #anime-list > .listahan:nth-child(odd) {
    background-color: #eeeeee;
}

.listDiv > .tableSaIndex > #anime-list > .listahan:nth-child(even) {
    background-color: #bcccdc;
}

.listDiv > .tableSaIndex > #anime-list > .listahan > td {
    text-align: center;
}

.listDiv > .tableSaIndex > #anime-list > .listahan > .aniname {
    text-align: left;
}

.listDiv > .tableSaIndex > #anime-list > .listahan > .pindutanSaScr {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listDiv > .tableSaIndex > #anime-list > .listahan > .pindutanSaScr > .edit-btn,
.listDiv > .tableSaIndex > #anime-list > .listahan > .pindutanSaScr > .delete-btn  {
    background-color: #473e3e;
    color: #FFFFFF;
    border: 1px solid #473e3e;
    cursor: pointer;
    padding: .2em;
    border-radius: .5em;
    font-size: 1em;
}

.listDiv > .tableSaIndex > #anime-list > .listahan > .pindutanSaScr > .edit-btn {
    background-color: #C1BAA1;
    border: 1px solid #C1BAA1;
    width: 2.5em;
}

.listDiv > .tableSaIndex > #anime-list > .listahan > .pindutanSaScr > .edit-btn:hover {
    background-color: #A59D84;
}

.listDiv > .tableSaIndex > #anime-list > .listahan > .pindutanSaScr > .delete-btn {
    background-color: #D84040;
    border: 1px solid #D84040;
    width: 3.5em;
}

.listDiv > .tableSaIndex > #anime-list > .listahan > .pindutanSaScr > .delete-btn:hover {
    background-color: #A31D1D;
}

.listDiv > .tableSaIndex > thead > tr > .se{
    width: 9%;
}

.listDiv > .tableSaIndex > thead > tr > .st {
    width: 10%;
}

.listDiv > .tableSaIndex > thead > tr > .e,
.listDiv > .tableSaIndex > thead > tr > .wa { 
    width: 14%;
}

.listDiv > .tableSaIndex > thead > tr > .act {
    width: 13%;
}

#modal-overlay,
#added-modal-overlay,
#delete-modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3;
}

#anime-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #bcccdc;
    z-index: 4;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

#anime-modal > h2 {
    text-align: center;
    padding-bottom: 1em;
}

#anime-modal > #anime-form {
    display: flex;
    flex-direction: column;
}

#anime-modal > #anime-form > input {
    align-self: center;
}

#anime-modal > #anime-form > input:hover {
    background-color: #f0f0f0;
}

#anime-modal > #anime-form > .save-btn {
    font-size: 1em;
    background-color: #eeeeee;
    border: 1px #cfcfcf;
    color: #000000;
    align-self: center;
    border-radius: 15px;
}

#anime-modal > #anime-form > .save-btn:hover {
    background-color: #d8d6d6;
    cursor: pointer;
}

#anime-modal > .close-modal {
    cursor: pointer;
    color: red;
    font-size: 3em;
    float: right;
    margin-top: -.4em;
}

#anime-modal > .close-modal form input,
#anime-modal > .close-modal button {
    display: flex;
    flex-direction: column;
}

.added-modal {
    display: none;
    position: fixed;
    z-index: 4;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background: #7E6363;
    color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}

.added-modal > .modal-success-prompt {
    padding: 10px;
}

#confirm-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #7E6363;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 4;
    text-align: center;
}

#confirm-modal p {
    color: #FFFFFF;
}

#confirm-modal > .confirm-btns > button {
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#confirm-modal > .confirm-btns > #yes-delete {
    background: #D84040;
    color: white;
}

#confirm-modal > .confirm-btns > #no-delete {
    background: #C1BAA1;
    color: white;
}

/* Monitor ko */
@media screen and (min-width: 1800px) {
    body {
        padding: 2em;
    }

    /* .header {
        padding-top: 20px;
        padding-bottom: 40px;
        padding-inline: 26px;
    }

    .header > .pindutan {
        height: 3.2em;
    }

    .header > .pindutan > .pindutanTalaga {
        font-size: 1.3em;
        height: 2em;
        width: 6em;
    }

    .header > .searchBar {
        font-size: 1.5em;
    }

    .header > .searchBar > #search-input {
        height: 2em;
        font-size: .7em;
    } */

    .listDiv {
        padding-left: .7em;
        padding-right: .5em;
    }

    .listDiv::-webkit-scrollbar {
        width: 1em;
    }
    
    .listDiv::-webkit-scrollbar-thumb {
        height: 2.5em;
    }

    #anime-modal > #anime-form > p {
        padding-left: .5em;
        height: 1.5em;
    }

    #anime-modal > #anime-form > input {
        width: 30em;
    }

    #anime-modal > #anime-form > .save-btn {
        width: 5em;
        padding: .5em;
    }

    #confirm-modal {
        width: 40em;
    }

    #confirm-modal p {
        margin-bottom: .5em;
        font-size: 1.5em;    
    }

    #confirm-modal > .confirm-btns > button {
        padding: .5em 1em;
        margin: 0 1em;
        font-size: 1.2em;
    }
}

/* laptop-L */
@media screen and (min-width: 1000px) and (max-width: 1650px) {
    nav > .icon-title > img {
        height: 4.3em;
        width: 4.3em;
    }
    
    nav > .icon-title > h1 > a {
        font-size: 1.5em;
        letter-spacing: .5em;
    }
    
    nav > .box-button {
        margin-right: 2em;
    }

    nav > .box-button > .searchBar > #search-input {
        font-size: 1em;
        border-radius: .5em;
        height: 2.2em;
        outline: none;
    }

    nav > .box-button > .searchBar > #search-input {
        margin-right: 1em;
    }

    nav > .box-button > .pindutan > .pindutanTalaga {
        font-size: 1.05em;
        height: 2.2em;
        padding: .3em;
        border-radius: .5em;
    }

    .listDiv {
        height: 80vh;
    }

    .listDiv > .tableSaIndex {
        padding-inline: .5em;
    }

    .listDiv > .tableSaIndex > thead > tr > .sortable {
        padding: 1.1em;
    }

    .listDiv > .tableSaIndex > #anime-list > .listahan > .aniname {
        padding-inline: 1em;
    }

    .listDiv > .tableSaIndex > #anime-list > .listahan > td {
        padding: .2em;
        padding-inline: 1em;
    }

    .listDiv > .tableSaIndex > #anime-list > .listahan > .pindutanSaScr > .edit-btn,
    .listDiv > .tableSaIndex > #anime-list > .listahan > .pindutanSaScr > .delete-btn  {
        margin-block: .2em;
        padding: .2em;
        font-size: 1em;
    }

    #anime-modal > #anime-form > p {
        padding-left: .5em;
    }

    #anime-modal > #anime-form > input {
        width: 30em;
    }

    #anime-modal > #anime-form > .save-btn {
        width: 5em;
        padding: .5em;
    }

    #confirm-modal {
        width: 400px;
    }

    #confirm-modal p {
        margin-bottom: 20px;
        font-size: 18px;    
    }

    #confirm-modal > .confirm-btns > button {
        padding: 10px 20px;
        margin: 0 10px;
    }
}

/* mobile-L */
@media screen and (min-width: 321px) and (max-width: 430px) {    
    nav {
        height: 3em;
    }

    nav > .icon-title {
        margin-left: 1em;
    }

    nav > .icon-title > img {
        height: 2.5em;
        width: 2.5em;
    }

    nav > .icon-title > h1 > a {
        font-size: .8em;
        letter-spacing: .2em;
    }
    
    nav > .box-button {
        margin-right: 1em;
    }

    nav > .box-button > .searchBar > #search-input {
        font-size: .53em;
        border-radius: .5em;
        /* height: 2.2em; */
        outline: none;
    }

    nav > .box-button > .searchBar > #search-input {
        margin-right: 1em;
    }

    nav > .box-button > .pindutan > .pindutanTalaga {
        font-size: .53em;
        /* height: 2.2em; */
        padding: .3em;
        border-radius: .5em;
    }

    .listDiv {
        height: 83vh;
        overflow-x: hidden;
        margin-inline: .4em;
        margin-top: .5em;
    }

    .listDiv > .tableSaIndex {
        table-layout: fixed;
        padding-inline: .1em;
    }

    .listDiv > .tableSaIndex > thead > tr > .jap,
    .listDiv > .tableSaIndex > thead > tr > .eng {
        width: 15%;
    }

    .listDiv > .tableSaIndex > thead > tr > th {
        text-align: center;
        overflow-wrap: normal;
        padding: 2px;
        font-size: 7px;
    }

    .listDiv > .tableSaIndex > #anime-list > .listahan > .aniname, 
    .listDiv > .tableSaIndex > #anime-list > .listahan > td {
        word-break: keep-all;
        font-size: .3em;
    }

    /* .listDiv > .tableSaIndex > #anime-list > .listahan > .pindutanSaScr {
        display: flex;
        flex-direction: column;
    } */
    

    .listDiv > .tableSaIndex > #anime-list > .listahan > .pindutanSaScr > .edit-btn,
    .listDiv > .tableSaIndex > #anime-list > .listahan > .pindutanSaScr > .delete-btn  {
        margin-block: 2px;
        font-size: 8px;
    }

    .listDiv > .tableSaIndex > #anime-list > .listahan > .pindutanSaScr > .edit-btn {
        width: 2.8em;
        font-size: 8px;
    }

    .listDiv > .tableSaIndex > #anime-list > .listahan > .pindutanSaScr > .delete-btn {
        width: 4em;
        font-size: 8px;
    }

    .listDiv::-webkit-scrollbar {
        width: .2em;
    }
    
    .listDiv::-webkit-scrollbar-thumb {
        height: .6em;
    }
    
    #anime-modal > #anime-form > p {
        padding-left: .8em;
    }

    #anime-modal > #anime-form > input {
        width: 16em;
    }

    #anime-modal > #anime-form > .save-btn {
        width: 4em;
        padding: .2em;
    }

    #confirm-modal {
        width: 15em;
    }

    #confirm-modal p {
        margin-bottom: .5em;
        font-size: .7em;
    }

    #confirm-modal > .confirm-btns > button {
        padding: .5em 1em;
        margin: 0 .5em;
    }
}

/* HONOR LITE 90 -- phone ko */
@media screen and (max-width: 380px) {
    nav > .icon-title > img {
        height: 2.4em;
        width: 2.4em;
    }

    nav > .icon-title > h1 > a {
        font-size: .6em;
    }
    
    nav > .box-button {
        margin-right: 1em;
    }

    nav > .box-button > .searchBar > #search-input {
        font-size: .45em;
    }

    nav > .box-button > .pindutan > .pindutanTalaga {
        font-size: .45em;
    }

    .listDiv {
        border-radius: 1em;
    }
}