* {
    font-family: "Baskerville Old Face", serif;
    margin: 0;
}

body {
    background: linear-gradient(to bottom, #3E3232, #503C3C, #7E6363, #A87C7C);
    overflow: hidden;
    background-repeat: no-repeat;
    height: 100vh;
}

.header > h1 {
    text-align: center;
}

.header > h1 > a {
    cursor: pointer;
    text-decoration: none;
    color: #FFFFFF;
}

.header > .pindutan,
.header > .searchBar {
    justify-self: end;
}

.header > .pindutan > .pindutanTalaga {
    background-color: #7E99A3;
    border: 1px #7E99A3;
    /* color: white; */
    cursor: pointer;
    border-radius: 20px;
}

.header > .pindutan > .pindutanTalaga:hover {
    background-color: #4C585B;
}

.header > .searchBar > #search-input {
    background-color: #F8FAFC;
    border: 1px #F8FAFC;
}

.header > .searchBar > #search-input:hover {
    background-color: #cfd2d3;
}

.listDiv {
    overflow-y: scroll;
    height: 71vh;
    /* margin: 3em; */
}

.listDiv::-webkit-scrollbar {
    width: .6em;
    background: linear-gradient(to top, #3E3232, #503C3C, #7E6363, #A87C7C);
    border-radius: 5px;
}

.listDiv::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
    height: 2em;
}

.listDiv > .tableSaIndex {
    width: 100%;
    opacity: 75%;
}

.listDiv > .tableSaIndex > thead {
    background-color: #9AA6B2; 
    color: #ffffff;
    top: 0;
    position: sticky;
}


.listDiv > .tableSaIndex > thead > tr > .sortable {
    cursor: pointer;
    position: relative;
}

.listDiv > .tableSaIndex > thead > tr > .sortable:hover {
    background-color: #747d86; 
}

.listDiv > .tableSaIndex > #anime-list > .listahan:nth-child(odd) {
    background-color: #eeeeee;
}

.listDiv > .tableSaIndex > #anime-list > .listahan:nth-child(even) {
    background-color: #bcccdc;
}

.listDiv > .tableSaIndex > #anime-list > .listahan > td {
    text-align: center;
}

.listDiv > .tableSaIndex > #anime-list > .listahan > .aniname {
    text-align: left;
}

.listDiv > .tableSaIndex > #anime-list > .listahan > .pindutanSaScr {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listDiv > .tableSaIndex > #anime-list > .listahan > .pindutanSaScr > .edit-btn,
.listDiv > .tableSaIndex > #anime-list > .listahan > .pindutanSaScr > .delete-btn  {
    background-color: #473e3e;
    color: #FFFFFF;
    border: 1px solid #473e3e;
    cursor: pointer;
    padding: .2em;
    border-radius: .5em;
    font-size: 1em;
}

.listDiv > .tableSaIndex > #anime-list > .listahan > .pindutanSaScr > .edit-btn {
    background-color: #C1BAA1;
    border: 1px solid #C1BAA1;
    width: 2.5em;
}

.listDiv > .tableSaIndex > #anime-list > .listahan > .pindutanSaScr > .edit-btn:hover {
    background-color: #A59D84;
}

.listDiv > .tableSaIndex > #anime-list > .listahan > .pindutanSaScr > .delete-btn {
    background-color: #D84040;
    border: 1px solid #D84040;
    width: 3.5em;
}

.listDiv > .tableSaIndex > #anime-list > .listahan > .pindutanSaScr > .delete-btn:hover {
    background-color: #A31D1D;
}

.listDiv > .tableSaIndex > thead > tr > .se{
    width: 9%;
}

.listDiv > .tableSaIndex > thead > tr > .st {
    width: 10%;
}

.listDiv > .tableSaIndex > thead > tr > .e,
.listDiv > .tableSaIndex > thead > tr > .wa { 
    width: 14%;
}

.listDiv > .tableSaIndex > thead > tr > .act {
    width: 13%;
}

#modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#anime-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #bcccdc;
    z-index: 2;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

#anime-modal > h2 {
    text-align: center;
    padding-bottom: 1em;
}

#anime-modal > #anime-form {
    display: flex;
    flex-direction: column;
}

#anime-modal > #anime-form > input {
    align-self: center;
}

#anime-modal > #anime-form > input:hover {
    background-color: #f0f0f0;
}

#anime-modal > #anime-form > .save-btn {
    font-size: 1em;
    background-color: #eeeeee;
    border: 1px #cfcfcf;
    color: #000000;
    align-self: center;
    border-radius: 15px;
}

#anime-modal > #anime-form > .save-btn:hover {
    background-color: #d8d6d6;
    cursor: pointer;
}

#anime-modal > .close-modal {
    cursor: pointer;
    color: red;
    font-size: 3em;
    float: right;
    margin-top: -.4em;
}

#anime-modal > .close-modal form input,
#anime-modal > .close-modal button {
    display: flex;
    flex-direction: column;
}

#added-modal-overlay,
#delete-modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

.added-modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background: #7E6363;
    color: white;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
}

.added-modal > .modal-success-prompt {
    padding: 10px;
}

#confirm-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: #7E6363;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    z-index: 9999;
    text-align: center;
}

#confirm-modal p {
    color: #FFFFFF;
}

#confirm-modal > .confirm-btns > button {
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#confirm-modal > .confirm-btns > #yes-delete {
    background: #D84040;
    color: white;
}

#confirm-modal > .confirm-btns > #no-delete {
    background: #C1BAA1;
    color: white;
}